<md-content layout-gt-sm="row" layout-padding="">

    <div flex="15"></div>
    <div flex="" >
        <h2>Camisas<span><hr></span></h2>

        <br><br><br>



        <div layout="row" layout-align="space-around center" ng-controller="camisasController">
            <div ng-repeat="camisa in camisas">
                <img src="{{camisa.imageUrl}}" height="262" length = 200>
                <p>${{camisa.price}}</p>
                <ngcart-addtocart id="{{camisa.id}}" name="{{camisa.name}}" price="{{camisa.price}}" quantity="1" quantity-max="5">
                    Add to Cart
                </ngcart-addtocart>
            </div>
        </div>
    </div>
    <div flex="15"></div>

</md-content>





<script type="text/ng-template" id="template/ngCart/addtocart.html">
    <div ng-hide="attrs.id">
        <a class="btn btn-lg btn-primary" ng-disabled="true" ng-transclude></a>
    </div>
    <div ng-show="attrs.id">
        <div>
    <span ng-show="quantityMax">
      <select name="quantity" id="quantity" ng-model="q" ng-options=" v for v in qtyOpt"></select>
    </span>
            <md-button class="md-primary md-raised">
                <a style="color: #0f0f0f;" ng-click="ngCart.addItem(id, name, price, q, data)" ng-transclude></a>
            </md-button>
        </div>
        <span ng-show="inCart()">

  <p class="alert alert-info">This item is in your cart. <a ng-click="ngCart.removeItemById(id)" style="cursor: pointer; color: orange">Remove</a></p>
  </span>
    </div>
</script>
