
*{
	margin: 0px;
	padding: 0px;
}

.head, nav{
	display: block;
}

.main-body{
	margin: 0 auto;
	width: 95%;
	font: 12px/18px Arial, Helvetica, sans-serif;
	background: white;
}

.logo{

	font-size: 70px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	color: green;
	text-shadow: 1px 1px, 2px 2px #ccc, 3px 3px 1px #777;}

h1{
	font: 48px/38px Arial, Helvetica, sans-serif;
	color: #3d6b09;
	text-transform: uppercase;
}

.head{
	height: 70px;
	padding: 45px 0px 0px 5px;
}


.link_box{
	float: right;
}
/*navigation*/

nav{
	color:green;
	position: absolute;
	left: 0;
	width: 100%;
	background: green;
	height: 49px;
}

nav ul{
	width: 1000px;
	margin: 0 auto;
	list-style: none;
	padding: 0px;
}

nav ul li{
	float: left;
}

nav ul li {
	display: inline - block;
	font: 18px Arial, Helvetica, sans-serif;
	color: white;
	text-align: left;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 49px;
	padding: 0px 10px 0px 10px;

}

/*search*/

.search{
	float: right;
	padding: 10px 0px 0px 0px;
}

#search_input{
	background: url(../images/search_input_bg.jpg);
	border: none;
	width: 325px;
	height: 27px;
	line-height: 27px;
	padding: 0px 0px 0px 10px;
	float: left;
}

#search_button{
	background: url(../images/search_button_bg.jpg);
	border: none;
	width: 36px;
	height: 27px;
	display: block;
	float: right;
	cursor: pointer;
}