<md-dialog class="itemDetail" aria-label>
  <form ng-cloak>
    <md-toolbar></md-toolbar>

    <md-dialog-content>
      <div layout layout="row" ng-controller="itemDetailCtrl">
          <div flex="50" flex-xs>
            <img ng-src="{{currentItem.imageurl}}" height="500 " length = 450>
          </div>
          <div layout="column" flex-offset="5" flex="40">

            <h1>{{currentItem.itemname}}</h1>
            <h3>{{currentItem.description}}</h3>
            <h3>${{currentItem.price}}</h3>


          </div>

      </div>
    </md-dialog-content>
  </form>
</md-dialog>
