main-body {
  padding: 30px;
}

h1 {
padding: 10px;
}

/* This is the Custom CSS i Madee */
/*Footer Css */

footer {
background: #2E7D32;
font-size: 26px;
bottom: 0;
width: 100%;
color: white;
float: left;
text-shadow: 1px 1px, 1px 1px #ccc, 2px 2px 1px #777;

}

.footer-first-menu,.footer-second-menu, .informacion, .footer-account {
  padding: 0px;
  color: white;
  width: 300px;
  float: left;
  margin: 0px;
  }
  .informacion{
  text-shadow: 0px;
  font-size: 22px;
  }

a {
color: white;
}

img.home-image{
display: block;
margin: 0px auto;
}

.md-toolbar-tools{
font-size: 32px;
background: #2E7D32;
font-weight: bold;
text-transform: uppercase;
text-decoration: none;
color: white;
text-shadow: 1px 1px, 1px 1px #ccc, 2px 2px 1px #777;}
}

  img.home-image {
  display: block;
  margin: 0px auto;}
  }


/*  This is my custome CSS end */
