

/* This is the Custom CSS i Madee */
main-body {
  padding: 30px;
}

h1 {
padding: 10px;
}

/* Header */
.md-toolbar-tools{
font-size: 32px;
background: #2E7D32;
font-weight: bold;
text-transform: uppercase;
text-decoration: none;
color: white;
text-shadow: 1px 1px, 1px 1px #ccc, 2px 2px 1px #777;
}


/* Home page CSS */
.home-page{
width: 1130px;
margin: 8px auto;}

img.home-image, img.home-page-ropa-banner{
display: block;
margin: 12px auto;
border-width: 4px;
border-style: solid;
border-color: #2E7D32;
border-radius: 15px;
}

img.imagen-reciente, img.imagen-mas-vendidos, img.imagen-libros, img.imagen-articulos {
display: block-inline;
margin:12px;
border-width: 4px;
border-style: solid;
border-color: #2E7D32;
border-radius: 15px;
}







/*Footer Css */

footer {
background: #2E7D32;
font-size: 26px;
bottom: 0;
width: 100%;
color: white;
float: left;
text-shadow: 1px 1px, 1px 1px #ccc, 2px 2px 1px #777;

}

.footer-first-menu,.footer-second-menu, .informacion, .footer-account {
  padding: 0px;
  color: white;
  width: 300px;
  float: left;
  margin: 0px;

  }
  .informacion{
  font-size: 20px;
  text-shadow: 0px 0px, 0px 0px #ccc, 0px 0px 0px #777;
  }

a {
color: white;
}

.headerInfomd-toolbar md-icon.md-default-theme {
  background-color: green; }

  img.home-image {
  display: block;
  margin: 0px auto;}
  }



/*  This is my custome CSS end */
