
<md-dialog class="editUser" ng-controller="editUserCtrl" >

  <form ng-cloak style = "max-height: 500px; overflow-y: hidden;
        overflow-x:hidden;">


    <!-- <md-toolbar>
        <div  layout="row"  layout-align="center center"  style = "max-height: 100px;">
            <h1> Editar {{displayMessage}}</h1>
        </div>
    </md-toolbar> -->

    <br><br><br><br>



    <div layout="row"  layout-align="center">

      <md-input-container>
        <label>Nueva Informacion</label>
        <input type="text" ng-model="inputInfo">
      </md-input-container>

      <div>

        <md-button class="md-primary md-secondary md-raised md-warn" ng-click="keepChanges(inputInfo)">Guardar Cambios</md-button>

      </div>

    </div>





    <br><br>

</md-dialog>
