
<md-dialog class="itemDetail" >

  <form ng-cloak style = "max-height: 700px; overflow-y: hidden;
        overflow-x:hidden;">


    <md-toolbar>
        <div  layout="row"  layout-align="center center"  style = "max-height: 200px;">
            <h1>Tiendita Colegial</h1> </div>

    </md-toolbar>
     <br> <br>

      <div>
    <md-dialog-content>
      <div layout layout="row" ng-controller="itemDetailCtrl" flex-offset="5">
          <div flex="50" >
            <img ng-src="{{currentItem.imageurl}}" height="300" length = "300">
          </div>
          <div layout="column" flex-offset="5" flex="40">
            <h3> Nombre: {{currentItem.itemname}}</h3>
              <h3>Descripcion: </h3>
              <div class = "itemDescription" layout = "column" >
            <h3>{{currentItem.description}}</h3>
            </div>
              <h3>Precio: ${{currentItem.price}}</h3>
            <ng-show ng-show = "currentItem.size == 'Mediana'">

              <md-select placeholder="Tamaño" ng-model = "selectedSize">
                  <md-option ng-value="itemSize" ng-repeat="itemSize in itemSizes">{{itemSize}}</md-option>
              </md-select>
          </ng-show>
              <ngcart-addtocart id="{currentItem.itemid}}" name="{{currentItem.itemname}}"                             price="{{currentItem.price}}" quantity="1" quantity-max="5" data = "{item:currentItem, size: selectedSize} ">
                  Add to Cart
              </ngcart-addtocart>
          </div>

      </div>
    </md-dialog-content>
    <br><br>


<script type="text/ng-template" id="template/ngCart/addtocart.html">
    <div ng-hide="attrs.id">
        <a class="btn btn-lg btn-primary" ng-disabled="true" ng-transclude></a>
    </div>
    <div ng-show="attrs.id">
        <div>
    <span ng-show="quantityMax">
      <select name="quantity" id="quantity" ng-model="q" ng-options=" v for v in qtyOpt"></select>
    </span>
            <md-button class="md-primary md-raised">
                <a style="color: #0f0f0f;" ng-click="ngCart.addItem(id, name, price, q, data)" ng-transclude></a>
            </md-button>
        </div>
        <span ng-show="inCart()">

  <p class="alert alert-info">This item is in your cart. <a ng-click="ngCart.removeItemById(id)" style="cursor: pointer; color: orange">Remove</a></p>
  </span>
    </div>
</script>

  </form>

</md-dialog>